apiVersion: v1
kind: Pod
spec:
  containers:
    - name: node
      image: node:18.12.1-slim
      command:
        - 'sleep'
      args:
        - '99d'
      ports:
        - containerPort: 8091
          name: node
    - name: sonar
      image: sonarsource/sonar-scanner-cli:4
      command:
        - 'sleep'
      args:
        - '99d'
    - name: jmeter
      image: harbor.gazeta.pl/ini/jmeter:5.5
      securityContext:
        runAsUser: 0
      resources:
        limits:
          cpu: '2'
          memory: 2Gi
          ephemeral-storage: 4Gi
        requests:
          cpu: '1'
          memory: 1Gi
          ephemeral-storage: 2Gi
      command:
        - 'sleep'
      args:
        - '90m'
  imagePullSecrets:
    - name: harbor-registry
