#jinja2: trim_blocks: "true", lstrip_blocks: "false"
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ project_name }}
  name: {{ project_name }}
  namespace: {{ namespace }}-{{ env }}
spec:
  selector:
    app: {{ project_name }}
  ports:
    - name: http
      port: {{ container_port }}
      protocol: TCP
      targetPort: {{ container_port }}
  sessionAffinity: None
  type: ClusterIP

